<div class="side-bar-wrapper">
  <div class="bar-left">
    <app-my-profile></app-my-profile>
    <div class="tab-items">
      <div id="conversation-list" class="iconfont icon-conversation active" title="会话列表">
        <sup class="unread">
          99
        </sup>
      </div>
    </div>
    <div class="bottom">
      <div class="iconfont icon-tuichu" title="退出" (click)="logout()"></div>
    </div>
  </div>
  <div class="bar-right">
    <app-conversation-list></app-conversation-list>
  </div>
</div>
