<div class="group-member-list-wrapper">
  <div class="header">
    <span
      class="member-count text-ellipsis">群成员：{{currentConversation?.groupProfile.memberNum}}</span>
    <!-- <popover v-model="addGroupMemberVisible">
      <add-group-member></add-group-member>
      <div slot="reference" class="btn-add-member" title="添加群成员">
        <span class="tim-icon-friend-add"></span>
      </div>
    </popover> -->
  </div>
  <div class="scroll-content">
    <div class="group-member-list">
      <div *ngFor="let member of members;" nz-popover [nzPopoverContent]="contentTemplate"
        nzPopoverPlacement="topRight">
        <ng-template #contentTemplate>
          <app-group-member-info [member]="member" [currentConversation]="currentConversation">
          </app-group-member-info>
        </ng-template>

        <div class="group-member" (click)="currentMemberID = member.userID">
          <app-avatar [title]="getGroupMemberAvatarText(member.role)" [src]="member.avatar">
          </app-avatar>
          <div class="member-name text-ellipsis">
            <span *ngIf="member.nameCard" [title]="member.nameCard">{{ member.nameCard }}</span>
            <span *ngIf="member.nick" [title]="member.nick">{{ member.nick }}</span>
            <span *ngIf="!member.nameCard&&!member.nick"
              [title]="member.userID">{{ member.userID }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="more">
    <a *ngIf="showLoadMore" (click)="loadMore()">查看更多</a>
  </div>
</div>
